[submodule "skills/general/browser-chrome"]
	path = skills/general/browser-chrome
	url = https://github.com/blockedby/browser-chrome-skill.git
[submodule "packages/pi-codex"]
	path = packages/pi-codex
	url = https://github.com/blockedby/pi-codex.git
